@charset "UTF-8";


@font-face {
    font-family: "Futuro";
    src: url("./fonts/Futuro.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    background-color: #060606;
}

h3 {
    color: white;
    font-family: monospace;
}

.hr {
    border: none;
    border-top: 0.5px solid rgb(49, 49, 49);
    max-width: 80%;
    
}


#Cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #060606f6;
    border-bottom: 1px solid #3333338e;
    border-radius: 0px;
}

.Logo_cabecalho {
    font-size: 0.9em;
    color: red;
    font-family: monospace;
}

a {
    text-decoration: none;
}

.botao_menu {
    padding: 8px 15px;
    display: inline-block;
    color: red;
    font-family: monospace;
    font-size: 1.1rem;
    transition: 0.2s;
}

.botao_menu:hover {
    color: gray;
    border-color: gray;
}

.Menu_cabecalho {
    display: flex;
    gap: 15px;
    margin-right: 30px;
}

.apresentacao {
    width: min(1200px, 90%);
    margin: 200px auto 0;
    font-size: 3.5em;
}

.welcome {
    margin: 0 0 100px;
    font-size: 30px;
    color: white;
    font-family: "JetBrains Mono", monospace;
}

.im {
    color: red;
    font-size: 7rem;
    margin-bottom: 100px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 2000;
    
}

.p {
    width: min(1200px, 90%);
    margin: 0 auto 50px;
    font-size: 1.2em;
    color: white;
    
}

.botaoinf {
    padding: 8px 15px;
    display: inline-block;
    color: red;
    border: 1px solid red;
    font-family: monospace;
    font-size: 1rem;
    transition: 0.2s;
}

.botaoinf:hover {
    color: gray;
    border-color: gray;
}

.botoes {
    width: min(1200px, 90%);
    margin: 0 auto 70px;
}

.sobre_completo {
    width: min(1200px, 90%);
    margin: 100px auto;
}

.sobre {
    margin: 0 0 30px;
    font-size: 0.9em;
    color: red;
}

.sobre_titulo {
    margin: 0 0 30px;
    font-size: 2.5em;
}

.construindo {
    color: white;
    font-family: monospace;
    font-size: 3rem;
}

.ofuturo {
    color: red;
    font-family: "Futuro", sans-serif; 
    margin-top: -50px;
    font-size: 3rem;
}

.sobre_texto {
    max-width: 600px;
    font-size: 1.2em;
    color: gray;
    font-family: sans-serif;
}

.p1 {
    margin-bottom: -20px;
}

.p2 {
    margin-bottom: -20px;
}

.sobre_e_formacao {
    width: min(1200px, 90%);
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
}

.formacao_sobre {
    margin-top: 90px;
}

.hr1 {
    border: none;
    border-top: 0.5px solid rgb(49, 49, 49);
}

.formacao_titulo {
    font-size: 0.9em;
    color: red;
    margin-bottom: 57px;
}


.formacao1 {
    margin-top: 5px;
}

.formacao_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.pinfo,
.datas {
    color: gray;
    margin: 0;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.status {
    color: gray;
    font-size: 1.1em;
}

.abertoopr {
    color: red;
}

#hab {
    width: min(1200px, 90%);
    margin: 100px auto 30px;
    font-size: 0.9em;
    color: red;
    list-style: none;
}

.techstack {
    width: min(1200px, 90%);
    margin: 20px auto;
    font-size: 2.5em;
    
   
}

.tech {
    font-size: 3rem;
}

.stack {
    color: red;
    margin-top: -50px;
    font-family: "Futuro", sans-serif;
    font-size: 3rem;
}

.nome_tech {
    color: gray;
    font-family: monospace;
    font-size: 1rem;
}

.skills_grid {
    width: min(1200px, 90%);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 80px;
}

.skills_grid ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills_grid li {
    border: 1px solid #333;
    padding: 8px 12px;
    color: gray;
    font-family: monospace;
    font-size: 14px;
}

.fundamentos,
.comportamentais {
    grid-column: 1 / -1;
}

.nivel_tecnico_tabela {
    width: min(1200px, 90%);
    margin: 100px auto;
}

.nivel_tecnico_tabela h2 {
    color: gray;
    font-size: 0.9em;
    margin-bottom: 30px;
}

.nivel_tecnico_tabela table {
    width: 100%;
    border-collapse: collapse;
}

.nivel_tecnico_tabela th {
    display: none;
}

.nivel_tecnico_tabela td {
    padding: 10px 0;
    color: gray;
}

.barra {
    width: 100%;
    height: 1px;
    background-color: #292929;
}

.progresso {
    height: 1px;
    background-color: red;
}

.html {
    width: 60%;
}

.css {
    width: 60%;
}

.java_nivel {
    width: 30%;
}

.postgres {
    width: 30%;
}

.git {
    width: 70%;
}

.office {
    width: 85%;
}

.nivel_tecnico_tabela td:last-child {
    color: red;
    font-weight: bold;
    text-align: right;
    padding-left: 30px;
}

.nivel_tecnico_tabela td:nth-child(2) {
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
}




footer {
    margin-top: 100px;
    padding: 30px 0;
    text-align: center;
}
